function gpu()
{
	git push --set-upstream origin $(git branch --show-current)
}

function gwm()
{
	git co main && git pull && gitclean
}

function b64(){
    printf "%s" "$1" | base64
}

function b64d(){
    printf "%s" "$1" | base64 -D && echo
}

function gitclean ()
{
    git fetch -p && git branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' > /tmp/localDelete && vi /tmp/localDelete && xargs git branch -d < /tmp/localDelete
}

function codeslow ()
{
    codesign --remove-signature /Applications/Visual\ Studio\ Code.app/Contents/Frameworks/Code\ Helper\ \(Renderer\).app
}
